* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #22c55e;
  --dark-color: #2a3342;
  --light-color: #bbc3cf;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
}

/* Containers */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  color: #bbc3cf;
}

.container-xl {
  max-width: 1800px;
  margin: 0 auto;
  background: #f7f8f9;
  height: 750px;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

.contacts-container-xl {
  max-width: 1800px;
  margin: 0 auto;
  height: 720px;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

.footer-container-xl {
  max-width: 100%;
  margin: 0 auto;
  background: #2a3342;
  height: 400px;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

/* Nav bar */

.nav-bar {
  background: #2a3342;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a3342;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
}

.nav-bar ul li {
  padding: 20px 10px;
}

.nav-bar ul li a {
  padding: 20px;
  color: #bbc3cf;
  text-decoration: none;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5;
  text-align: center;
  color: #bbc3cf;
}

.button-primary {
  background: var(--primary-color);
  color: #22c55e;
}

.button-dark {
  background: var(--dark-color);
  color: #bbc3cf;
}
.button-gray {
  background: #404f65;
}

.head-buttons a {
  margin: 0 10px;
}

/* Hero */

.head {
  background: #2a3342;
}

.head .container {
  height: 800px;
  padding-top: 80px;
}

.head-container {
  padding-bottom: 20px;
}
.head-content {
  text-align: center;
  padding-top: 50px;
  position: relative;
  padding: 20px;
}

.badge {
  position: absolute;
  right: 485px;
  top: -30px;
  background: #22c55e;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
}
.head-content h4 {
  font-size: 80px;
  color: #ffffff;
}

.head-content .subheading-title {
  font-size: 28px;
  color: #8896ab;
  padding-bottom: 20px;
}

/* Video IMG */

.video-img-container {
  position: relative;
}

.video-img {
  margin-top: -100px;
  cursor: pointer;
}

.container .video-img {
  text-align: center;
  position: relative;
  z-index: 1;
}
.sticker1 {
  text-align: left;
  position: absolute;
  left: 30px;
  top: -130px;
}

.sticker2 {
  position: absolute;
  right: 30px;
  top: 370px;
}

/* Companies */

.companies {
  width: 100%;
}

.companies-container {
  text-align: center;
  margin-bottom: 100px;
}

.companies-heading {
  margin-top: 200px;
  margin-bottom: 20px;
}

.companies-title {
  font-weight: 500;
  color: #bbc3cf;
  font-size: 16px;
  line-height: 24px;
}

.companies-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146px;
  gap: 20px;
}

.company-logo-card {
  background-color: #f7f8f9;
  width: 261px;
  height: 146px;
  align-content: center;
}

/* Data */

.data {
  width: 100%;
  background: #f7f8f9;
}

.data-childs-container {
  display: flex;
  justify-content: space-between;
}

.data-cards-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  max-width: 100%;
  gap: 50px;
  padding: 30px 0;
}

.numbers-badge {
  background-color: #dcfce7;
  width: 93px;
  padding: 5px 10px;
  border-radius: 50px;
  color: #22c55e;
  margin-bottom: 20px;
}

.data-title {
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 20px;
  color: #2a3342;
}

.data-title-container {
  padding: 20px 0;
  width: 85%;
}

.data-subheading {
  color: #556987;
  font-size: 16px;
}

.data-cards h1 {
  font-size: 48px;
  color: #2a3342;
}
.data-cards h3 {
  font-size: 20px;
  color: #333f51;
  padding-top: 10px;
  padding-bottom: 5px;
}

.data-cards p {
  font-size: 16px;
  color: #556987;
  padding-bottom: 25px;
}

/* Testimonials */

.testimonials-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  align-content: center;
  gap: 59px;
}

.testimonials-content {
  width: 60%;
}

.quotes-badge {
  background-color: #dcfce7;
  width: 93px;
  padding: 5px 14px;
  border-radius: 50px;
  color: #22c55e;
  margin-bottom: 80px;
}

.image-container {
  align-content: center;
}

.testimonials-heading {
  font-size: 36px;
  color: #2a3342;
  font-weight: 600;
  margin-bottom: 30px;
}

.testimonials-name {
  font-size: 24px;
  color: #333f51;
  font-weight: 600;
  margin-bottom: 15px;
}
.testimonials-subheading {
  color: #556987;
  font-size: 18px;
}

.img-dots {
  padding-top: 50px;
}

/* Contacts */

.first-contacts {
  display: flex;
  justify-content: space-between;
}

.contacts-heading-content {
  width: 70%;
}

.contacts-heading-buttons {
  width: 30%;
  text-align: center;
  align-content: center;
}
.contact-badge {
  background-color: #dcfce7;
  width: 93px;
  padding: 5px 9px;
  border-radius: 50px;
  color: #22c55e;
  margin-bottom: 30px;
}

.contact-heading {
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 20px;
  color: #2a3342;
}

.contact-subheading {
  color: #556987;
  font-size: 16px;
  font-weight: 00;
}

.position-button {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5;
  text-align: center;
  color: #fff;
  margin-right: 20px;
}

.about-button {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  border: 1px solid #d5dae1;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5;
  text-align: center;
  color: #333f51;
}

.social-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.contact-container {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-heading {
  margin-top: 0;
}

.contact-label {
  font-weight: bold;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #45a049;
}

.social-content {
  display: flex;
  gap: 200px;
  justify-content: space-between;
}

.social-contacts {
  padding: 20px 0;
  width: 200px;
}

.social-info {
  color: #556987;
  padding-top: 15px;
  margin-left: px;
}

.social-info a {
  padding-right: 20px;
}

/* Footer */

.footer-content-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.footer-menu ul {
  display: flex;
  font-size: 20px;
}

.footer-menu ul li {
  padding: 20px;
  list-style-type: none;
}

.footer-menu ul li a {
  color: #8896ab;
  text-decoration: none;
}

.footer-copyrights {
  font-size: 20px;
  color: #8896ab;
}
